@font-face {
  font-family: 'Pragmatica';
  src: url("/fonts/Pragmatica-ExtraLight.woff") format("woff");
}

.font-pragmatica {
  font-family: "Pragmatica";
}

.font-desc {
  font-size: 24px !important;
  letter-spacing: 1.2px;
}

.font-title {
  font-size: 36px !important;
  letter-spacing: 1.2px;
}

.first-section {
  height: 100%;
  margin-bottom: -30px;
}

.slider-image {
  display: block;
}

.content-slider {
  height: 100vh !important;
}

@media screen and (max-width: 800px) {
  .content-slider {
    height: 60vw !important;
  }
}

ul.slick-dots {
  bottom: 10px;
}

.slick-dots li {
  width: 35px !important;
  height: 20px !important;
}

.slick-dots li button:before {
  font-size: 25px !important;
  opacity: 0.5 !important;
}

.slick-dots li.slick-active button:before {
  color: #1176bc !important;
}

.house-reel-section {
  min-height: 34vw;
}

.img-thumbnail-reel {
  height: 45vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.wrap-video {
  height: 35vw;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .wrap-video {
    height: 100vw;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.mt-5vw {
  margin-top: 5vw !important;
}

@media screen and (max-width: 800px) {
  .mt-5vw {
    margin-top: 20vw !important;
  }
}

.btn-closed-sign {
  font-size: 30px;
  color: white;
  text-shadow: none;
  opacity: 1;
  line-height: 0;
}

.custom-bg-modal {
  background: transparent !important;
  border: none !important;
}

.our-clients-section {
  padding-top: 2vw;
  padding-bottom: 5vw;
  padding-left: 5vw;
  padding-right: 5vw;
  min-height: 100vh;
  border-top: 1px solid #ccc;
}

.img-clients {
  width: 13%;
  padding: 20px 10px;
}

@media screen and (max-width: 800px) {
  .img-clients {
    width: 49%;
  }
}

.logo-absolute {
  position: absolute;
  top: 2%;
  left: 3%;
  z-index: 1;
  height: auto;
  padding: 40px 0;
  width: 20%;
}

@media (max-width: 800px) {
  .logo-absolute {
    width: 35%;
  }
}

.service-content .service-item .line-dec {
  width: 50px !important;
  height: 3px !important;
  margin: 10px auto 15px auto !important;
  background-color: #1176bc !important;
}

.house-reel {
  padding-top: 20vh;
  background-image: url(../vanilla/img/images/house-reel.png);
}

@media (max-width: 800px) {
  .house-reel {
    padding-top: 13vh;
  }
}

.wrapper-award {
  width: 100%;
  min-height: 100vh;
  background-size: cover;
}

.award {
  padding-top: 20vh;
  background-image: url(../vanilla/img/images/CUSSONS.png);
  background-color: #ccc;
}

@media (max-width: 800px) {
  .award {
    padding-top: 13vh;
  }
}

.primary-button {
  margin-top: 3rem;
}

.text-house-reel {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 25px 30px;
  text-align: center;
  color: #fff;
  height: 100%;
}

.reel-button {
  background-color: #1176bc !important;
}

.text-house-reel .line-dec {
  width: 50px;
  height: 3px;
  background-color: #1176bc;
  margin: 10px auto 15px auto;
}

.banner-top {
  width: 100%;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../vanilla/img/images/house-reel.png);
}

.banner-top-2 {
  width: 100%;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../vanilla/img/images/CUSSONS.png);
}

.text-desc {
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 25px 30px;
  text-align: center;
  color: #fff;
}

.service-content {
  padding-top: 37vh !important;
}

@media (max-width: 800px) {
  .service-content {
    padding-top: 40vw !important;
  }
}

.line-seperate {
  width: 50px;
  height: 3px;
  background-color: #1176bc;
  margin: 10px auto 15px auto;
}

.line-seperate.diff {
  width: 90px;
  margin: 10px auto 15px auto;
}
/*# sourceMappingURL=style.css.map */